body {
  margin: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
}

/* .Rectangle-35 {
  width: 300px;
  height: 431px;
  object-fit: contain;
  border-radius: 4px;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
} */
.main-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.title {
  color: #006ea0;
  font-size: 22px;
  padding: 2px;
  border-bottom: 1px solid #9e99a3;
}
#the-form {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  color: #3e3d3f;
  background-color: white;
  /* desktop: width: 470px; */
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
  padding: 1em;
}
#the-form .user-prompt {
  padding: 2px;
  border-bottom: 1px solid #9e99a3;
}
/* Flexbox classes */
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.column {
  display: flex;
  flex-direction: column;
}
.flex-slider-block {
  /* justify-content: space-around; */
  margin: 1em 0 1em 0;
}
#year-slide {
  padding-left: 1.6em;
}

/* Slider input formatting */
input[type="range"] {
  -webkit-appearance: none;
  margin: 6.8px 0;
  width: 14em;
}

input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #1091cc;
  border-radius: 4px;
  border: 0px solid #010101;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #1091cc;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 2.6px 2.6px 0.3px #d8d8d8, 0px 0px 2.6px #e5e5e5;
  border: 0px solid #ffffff;
  height: 22px;
  width: 22px;
  border-radius: 22px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.8px;
}

.slider-value {
  width: 50px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #a6a6a6;
  background-color: #ffffff;
  text-align: center;
  vertical-align: bottom;
  line-height: 40px;
  margin-left: 2em;
}

#text-inputs input {
  height: 40px;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(62, 61, 63, 0.62);
  border: solid 1px #3e3d3f;
  background-color: #ffffff;
  padding-left: 1em;
}
.section-heading {
  font-size: 12px;
}

#tax-pni input {
  width: 85%;
}

/* #loan-input-wrapper{
  margin: 1em; 
} */
#loan-input-wrapper input {
  width: 93%;
}

#submit-btn {
  width: 440px; /* todo: probably wrong to use fixed width here */
  height: 40px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-size: 1.25em;
  background-color: #0077c0;
}
/* Results View */
.results-wrapper {
  /*position: absolute;
  left: 0;
  top: 0;*/
  /* width: 288px;
  height: 440px; */
  padding: 60px;
  background-color: #eaf6fa;
  /*position: fixed;*/ /* Stay in place */
  /*z-index: -1;*/ /* behind main view */
}

.results-title {
  font-size: 22px;
  color: #3e3d3f;
  margin: 20px;
}
.result-heading {
  font-size: 14px;
  margin: 20px;
  color: #3e3d3f;
}
.result {
  font-size: 18px;
  margin: 20px;
  font-weight: bold;
  color: #3e3d3f;
  opacity: 0.2;
}
.results-total-heading {
  margin: 20px;
  font-size: 18px;
  color: #3e3d3f;
}
.results-total {
  font-size: 22px;
  margin: 20px;
  font-weight: bold;
  color: #3e3d3f;
}

/* Validator  */
.has-error {
  border-color: red !important;
}
.error-portal {
  color: red;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
}

/* Media Queries */
@media (min-width: 800px) {
  .user-prompt {
    background-color: rgb(204, 211, 176);
  }
  .main-wrapper {
    width: 740px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-content: space-around;
  }
  #the-form {
    width: 64%;
  }
  #results-section {
    width: 36%;
  }
}
